# Installable packages

node_modules/

# Configuration

/.vscode/launch.json
/.idea/
.config/
/nodemon.json
/.biu.json

# Building artifacts

.cache/
bld/
*.tgz

# Debugging outputs

*.log

# Testing files

/test.*
