body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

button {
  color: #fff;
  background-color: #07e;
  height: 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: background-color linear 0.1s;
}

button:hover {
  background-color: #08f;
}

button.red {
  background-color: #e30;
}

button.red:hover {
  background-color: #f40;
}

button.green {
  background-color: #3b0;
}

button.green:hover {
  background-color: #4c0;
}

#navbar {
  margin: 0 auto 5px auto;
  display: table;
  width: calc(100% - 10px);
  line-height: 20px;
  overflow: hidden;
}

#groups-wrapper,
#tasks-wrapper {
  display: table-row;
}

#groups-wrapper > *,
#tasks-wrapper > * {
  padding: 2px 4px;
  display: table-cell;
}

#groups-wrapper > label,
#tasks-wrapper > label {
  width: 1%;
}

#close-all-button {
  float: right;
}

#group-list button,
#task-list button {
  margin: 0 2px;
}

#outputs-wrapper {
  overflow: hidden;
}

.output-block-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.output-block {
  position: relative;
  margin: 5px;
  border-radius: 2px;
  overflow: hidden;
}

.output-block pre {
  word-break: break-all;
  white-space: pre-wrap;
  opacity: 0.5;
  background-color: #222;
  color: #eee;
  transition: opacity linear 0.5s;
}

.output-block.running pre {
  opacity: 1;
}

.output-block .operations,
.output-block .command {
  line-height: 28px;
  height: 28px;
  background-color: #ddd;
}

.output-block .operations {
  float: right;
  padding: 0 5px 0 10px;
}

.output-block .operations button {
  display: none;
}

.output-block.running .operations button.restart,
.output-block.running .operations button.stop,
.output-block.stopped .operations button.start,
.output-block .operations button.close {
  display: inline-block;
}

.output-block .command {
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.output-block pre {
  margin: 0;
  padding: 5px 10px;
  height: 320px;
  overflow-y: auto;
}

@media screen and (min-width: 1000px) {
  .output-block-wrapper {
    width: 50%;
  }
}

#disconnected-mask {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#disconnected-mask .text {
  margin: auto;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

#disconnected-mask .text p {
  margin-top: 20px;
  font-size: 14px;
}
