html,
body {
  margin: 0;
}

html {
  background-color: #eff3f5;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei UI', '微软雅黑',
    Arial, sans-serif;
}

a {
  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar:hover {
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-clip: content-box;
  border: 7px solid transparent;
  background-color: #e2e2e2;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #9da1a5;
}
